.authPageContainer,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.title {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: -15px;
}

.handleTypeButton {
  color: black !important;
  background-color: transparent;
  border: none;
}

.confirmButton {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1em;
  background-color: #101a1d;
  border: none;
  color: white;
  border-radius: 0.2em;
  cursor: pointer;
  text-transform: uppercase;
}
