.navbarContainer {
  display: flex;
  align-items: center;
  background-color: #101a1d;
  height: 150px;
}

.logo {
  width: 4.5em;
  margin-top: 20px;
}

.navbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbarLink {
  color: white;
  display: flex;
  justify-content: left;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  margin-right: 10px;
}

.navbarLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 0.2em;
}

.mobileNavbarItems {
  display: none;
}

.mobileNavbarBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
}

.drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2em;
  gap: 1em;
  background-color: #101a1d;
  font-size: 32px;
}

@media screen and (max-width: 660px) {
  .navbarItems {
    display: none;
  }

  .mobileNavbarItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #root {
    font-size: x-large;
  }
}

@media screen and (min-width: 1270px) {
  .logo {
    margin-left: -40px;
  }
}
